[mysqld]
datadir=/home/runner/Open-Journal-Systems/mysql_data
socket=/home/runner/Open-Journal-Systems/mysql_data/mysqld.sock

[client]
socket=/home/runner/Open-Journal-Systems/mysql_data/mysqld.sock
